<<<<<<< HEAD
body {
    background-color: #050505;
}

=======
>>>>>>> fc657e5 (first commit)
h1 {
    color: white;
}

li {
    color: white;
}
<<<<<<< HEAD
=======

body, html {
    margin: 0;
    height: 5000px; /* Total scroll height */
    font-family: sans-serif;
    background-color: #111;
    overflow-x: hidden;
}

.scroll-animation-wrapper {
    height: 3000px; /* how much scroll controls the animation */
    position: relative;
}

.fade-text {
    position: fixed;
    top: 50%;
    left: 200;
    z-index: 0;
    transform: translate(0%, -50%);
    font-size: 3rem;
    color: white;
    opacity: 0;
    transition: opacity .3s ease-out;
    pointer-events: none;
    filter: drop-shadow(5px 5px 5px #222);
}

.after-scroll-content {
    height: 0vh;
    background: #111;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-canvas {
    position: fixed;
    top: 0%;
    left: 0%;
}

#projectDiv {
    display: inline-block;
    width: 100%;
    height: fit-content;
    background: #111;
    position: relative;
}

#projectDiv h1 {
    position: relative;
    font-size: 50px;
    left: 5%;
    padding-top: 50px;
}

#items {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 50px; /* Space between items */
    padding: 0px; /* Padding around the grid */
    position: relative;
    z-index: 10;
    color: white;
    align-items: center;
    justify-content: center;
}

#projectItem {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 450px;
    background: #000000;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#projectItem.visible {
    opacity: 1;
    transform: translateY(0);
}

#projectItem::after {
    content: "";
    position: absolute;
    inset: 0;
    transition: box-shadow 0.3s ease;
    border-radius: 10px;
    pointer-events: none;
}

#projectItem:hover::after {
    box-shadow: inset 0px 0px 100px #000000;
}

#projectItem img {
    display: block;
    width: 300px;
    height: auto;
    border-radius: 10px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

#projectItem img:hover {
    opacity: 0.75;
}

#projectItem h2 {
    z-index: 10;
    color: white;
    position:absolute;
    top: 93%;
    left: 3%;
    transform: translate( 0%, -100%);
    text-shadow: 10px, 10px, 10px;
    opacity: 0;
    transition: left 0.3s ease, opacity 0.3s ease;
}

#projectItem:hover h2 {
    opacity: 1;
    left: 5%;
}

>>>>>>> fc657e5 (first commit)
