* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-family: "Inter Tight";
    font-weight:600;
}

h1 {
    color: white;
}

p {
    font-size: 15px;
}

p {
    color: white;
    font-size: 15px;
}

li {
    color: white;
}

body {
    margin: 0;
    background-color: #0b0c0c;
}

.scroll-animation-wrapper {
    height: 3000px;
    position: relative;
}

#heroImg {
    top: 0;
    width: 100%;
    height: 110%;
    object-fit: cover;
    image-rendering: pixelated;
}

.fade-text {
    position: absolute;
    top: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: white;
    opacity: 1;
    transition: opacity .3s ease-out;
    pointer-events: none;
    filter: drop-shadow(5px 5px 5px #222);
    width: 100%;
}

.fade-text img {
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 80%;
    image-rendering: pixelated;

}

.after-scroll-content {
    height: 0vh;
    background: #0b0c0c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fisherInfo {
    background: #0b0c0c;
    box-shadow: 0px -10px 70px 100px #0b0c0c;
    height: fit-content;
}

.fisherInfo button {
    background: none;
    border: none;
    color: #63b2cf;
    font-size: 35px;
    cursor: pointer;
    padding-bottom: 50px;
    padding-right: 50px;
}

.fisherInfo h1 {
    position: relative;
    padding: 10px;
    margin: 0px;
    padding: 0% 5% 0% 5%;
}

#goToProjects {
    display: flex;
    justify-content: end;
    padding-bottom: 50px;
}

#goToProjects button {
    position: relative;
    top: -80px;
    color: white;
    display: flex;
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    margin-right: 20px;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: background-color .1s ease-in;
    z-index: 1001;
}

#goToProjects button:hover {
    background-color: #444;
}

#goToProjects img {
    width: 17px;
}

.projectDiv {
    display: inline-block;
    padding: 0% 5% 0% 5%;
    width: 100%;
    height: fit-content;
    background: #0b0c0c;
    position: relative;
    z-index: 100;
}

.projectDiv h1 {
    position: relative;
    padding-top: 50px;
    padding-bottom: 15px;
}

#bigProjects {
    font-size: 50px;
}

#smallProjects {
    font-size: 40px;
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 47.5%);
    gap: 5%;
    position: relative;
    z-index: 10;
    color: white;
    width: 100%;
}

.projectItem {
    display: inline-block;
    position: relative;
    height: fit-content;
    background: #000000;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    overflow: hidden;
}

.projectItem.visible {
    opacity: 1;
    transform: translateY(0);
}

.projectItem::after {
    content: "";
    position: absolute;
    inset: 0;
    transition: box-shadow 0.3s ease;
    border-radius: 10px;
    pointer-events: none;
}

.projectItem:hover::after {
    box-shadow: inset 0px 0px 100px #000000;
}

.projectItem img {
    display: block;
    width: 100%;
    border-radius: 10px;
    opacity: 1;
    transition: opacity 0.3s ease, scale 0.3s ease;
}

.projectItem img:hover {
    opacity: 0.75;
    scale: 1.05;
}

.projectItem p {
    font-size: 20px;
    z-index: 10;
    color: white;
    position:absolute;
    top: 98%;
    left: 4%;
    transform: translate( 0%, -100%);
    text-shadow: 10px, 10px, 10px;
    opacity: 0;
    transition: left 0.3s ease, opacity 0.3s ease;
}

.projectItem:hover p {
    opacity: 1;
    left: 6%;
}

hr {
    background-color: #999;
    height: 1px;
    border: none;
}

.infoDiv {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 10% 0% 10%;
    margin-bottom: 30%;
}

.infoDiv img {
    position: relative;
    padding: 0% 0% 0% 0%;
    width: 35%;
}
.infoDiv h1 {
    padding: 0% 0% 0% 0%;
    text-indent: 1em;
    width: 40%;
    background-color: #333;
    border-radius: 10px;
    padding: 30px
}

.horizontal {
    display: flex;
    margin: 0px auto;
    margin-bottom: 125px;
    border-radius: 10px;
    flex-direction: column-reverse;
    width: 70%;
}

.horizontal div {
    justify-content: space-between;
    align-items: center;
}

.leftCol {
    flex: 1 1 50%;
    padding-right: 5%;
    align-self: center;
}

.rightCol {
    flex: 1 1 50%;
}

#youtubeDiv {
    width: 40%;
    aspect-ratio: 16/9;
}

#youtubeDiv p {
    padding: 0;
    padding-top: 20px;
}

#youtubeDiv iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.horizontal img {
    position: relative;
    padding: 0% 0% 0% 0%;
    border-radius: 20px 20px 20px 0px;
    object-fit: cover;
    object-position: 85%;
    width: 100%;
    height: 100%;
}

.horizontal h1 {
    padding: 0px;
}

.horizontal p {
    color: white;
    padding: 0% 0% 0% 0%;
    text-align: justify;
}

.sideDiv {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: fit-content;
    gap: 25px;
    flex-direction: column;
}

.sideBlock {
    width: 95%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}

.sideBlock div {
    padding: 1%;
    padding-top: 3%;
}

.sideBlock img {
    position: relative;
    width: 100%;
    border-radius: 10px;
}

.sideBlock h1 {
    font-size: 50px;
    padding: 0px;
}

.sideBlock p {
    color: white;
    text-align: justify;
}

.center {
    display: flex;
    justify-content: center;
    padding-bottom: 125px;
    width: 100%;
}

.overlap {
    display: flex;
    width: 100%;
    height: 600px;
    min-height: 100%;
    padding-left: 10%;
    overflow:visible;
    background-image: 
        /*linear-gradient(#1110, #111f),*/
        url("collision.png");
    box-shadow: inset 0 -200px 160px -20px #0b0c0c;
    background-size: cover;
    image-rendering: pixelated;
    background-position: 65% 50%;
    margin-bottom: 125px;
}

.overlap div {
    padding: 10% 0%;
    height: 100%;
    text-align: center;
    width: 50%;
}

.overlapImgDiv {
    width: 100%;
}

.overlap img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    image-rendering: pixelated;
}

.overlap h1 {
    font-size: 50px;
    padding: 0px;
    text-shadow: 2px 2px 5px #000000aa;
}

.overlap p {
    text-indent: 1em;
    color: white;
    text-shadow: 3px 3px 5px #00000088;
}

.demoDiv {
    width: 90%;
    border-radius: 10px;
}

.demoDiv div {
    padding-top: 2%;
}

.demoDiv h1 {
    font-size: 50px;
    padding: 0px;
}

.demoDiv video {
    width: 100%;
    border-radius: 10px;
}

#beforeAfter {
    position: relative;
    display: inline-block; /* shrink to fit .image-base */
    border-radius: 30px;
    overflow: hidden;
    width: 60%;
}

#after {
    display: block;
}

#after img {
    object-fit: cover;
    width: 100%;
}

#before img {
    object-fit: cover;
    height: 100%;
}

#before {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    object-position: 0%;
    overflow: hidden;
}

#before h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 15px 45px;
    font-size: 2.5vw;
    text-shadow: 5px 5px 10px #0005;
}

#after h1 {
    position: absolute;
    top: 0;
    right: 0%;
    padding: 0;
    margin: 15px 45px;
    font-size: 2.5vw;
    text-shadow: 5px 5px 10px #0005;
}


#beforeAfter button {
    border: 5px solid white;
    border-radius: 1000px;
    height: 60px;
    width: 60px;
    padding: 0;
    margin: 0px;
    color: white;
    font-weight: 600;
    font-size: 25px;
    backdrop-filter: blur(10px);
}

#line {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0);
    height: 100%;
}

#line img {
    width: 40px;
    -webkit-user-drag: none;
    pointer-events: none;
}

#vertLineTop, #vertLineBottom {
    width: 5px;
    height: calc(50%);
    background-color: white;
}

/* screen size is 601 or more */
@media screen and (min-width: 601px) {
    .fade-text img {
        transform: translate(10%, -50%);
        width: 33%;
    }
    
    .sideDiv {
        flex-direction: row;
        width: 70%
    }

    #imgLeft {
        border-radius: 20px 20px 0px 20px;
    }

    #imgRight {
        border-radius: 20px 20px 20px 0px;
    }

    h1 {
        font-size: 60px;
    }

    p {
        font-size: 24px;
        line-height: 2.25rem;
        font-weight: lighter;
    }

    .horizontal {
        flex-direction: row;

    }

    .demoDiv {
        width: 50%;
    }

    .items {
        grid-template-columns: repeat(auto-fit, 200px);
        gap: 30px;
    }
}