my-layout {
  opacity: 0;
  transition: opacity 1s ease;
}

my-layout.loaded {
  display: block;
  opacity: 1;
}

p {
    text-align: center;
}

.backButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #404040;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 20px;
}

.backButton:hover {
    cursor: pointer;
}

.titleDiv {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 50px;
    padding: 20px;
}

.titleImg {
    padding: 20px;
    width: 35%;
}

.projectInfo {
    display: flex;
    padding-bottom: 10px;
    gap: 3px;
}

.description {
    padding-bottom: 30px;
    width: 70%;

}

.demoVideo {
    padding-bottom: 30px;
}